---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>&gt; Alejandro Casillas _</h1>
      <p>
        Software engineer with 8 years of experience in the professional field.
        Into web development since a young age and passionate about both
        frontend and backend development. Most experience in Javascript and
        React knowledge, backed by Node, Python and PostgreSQL experience,
        always excited to work on both sides of the stack. Strong team member
        with communication, problem-solving and organization skills who enjoys
        learning and contributing to others. Experienced team leader with a
        collaborative mindset.
      </p>
      <div class="text-blue-500 font-bold">
        This should be blue and bold if Tailwind is working!
      </div>
    </main>
    <Footer />
  </body>
</html>
