---
// components imports
import { Icon } from "astro-icon/components";

// config import
import { PROFILE, SOCIALS } from "@/config";
const resume = "/" + PROFILE.contact.resume;
---

<div class={"flex gap-2 md:gap-4"}>
  <button
    data-cv={resume}
    id="resumeBtn"
    class="inline-flex items-center gap-2 rounded-md text-neutral-300 px-4 bg-fuchsia-600 hover:bg-fuchsia-500"
  >
    Resume
    <Icon class="text-xl" name="mdi:resume" />
  </button>
  {
    SOCIALS.map(
      (social) =>
        social.show && (
          <a
            class={`${social.name} rounded-md p-2 text-xl md:text-2xl text-silver-n500 hover:text-silver-n900 hover:bg-neutral-200 duration-100`}
            href={social.url}
            target="_blank"
            aria-label={social.name + "-link"}
          >
            <Icon name={social.icon} class="text-3xl text-n500" />
          </a>
        )
    )
  }
</div>

<script>
  const resumeBtn = document.getElementById("resumeBtn") as HTMLButtonElement;
  const resume = resumeBtn.dataset.cv;

  resumeBtn.addEventListener("click", () => {
    window.open(resume, "_blank");
  });
</script>
